<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button>Cancelar</button>
    </ion-buttons>
    
    <ion-title>Selecciona Ejercicios</ion-title>
    <ion-buttons end>
      <button ion-button>Siguiente</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-searchbar padding (ionInput)="getExercises($event)" [(ngModel)]="searchString"></ion-searchbar>
  <ion-segment padding>
    <ion-segment-button value="Fuerza" (ionSelect)="selectedWeight()">Fuerza</ion-segment-button>
    <ion-segment-button value="Endurance" (ionSelect)="selectedEndurance()">Endurance</ion-segment-button>
    <ion-segment-button value="Gimnastico" (ionSelect)="selectedGymnastics()">Gimnástico</ion-segment-button>
  </ion-segment>
  <ion-list>
    <!--ion-item *ngFor="let exercise of exercise | async"-->
    <button ion-item *ngFor="let exercise of exerciseList" (click)="selectItem(exercise.$key, exercise.exercise, exercise.type)">  
        {{ exercise.exercise }}
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>{{ numExercises }} elementos seleccionados</ion-title>
  </ion-toolbar>
</ion-footer>
